<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PendantUrl" value="http://192.168.7.238:8080"/>
    <!--<add key="PendantUrl" value="http://192.168.7.45:8080"/>-->
    <add key="Register" value="Jogging,Cutting" />
    <add key="Register.Jogging" value="UgsMacros.Macros.Jogging" />
    <add key="Register.Cutting" value="UgsMacros.Macros.Cutting" />
  </appSettings>
</configuration>