<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="PendantUrl" value="http://192.168.7.238:8080"/>-->
    <add key="PendantUrl" value="http://192.168.7.32:8080"/>
    <add key="Register" value="Cutting,Mortise,Dovetails" />
    <add key="Register.Cutting" value="UgsMacros.Macros.Cutting" />
    <add key="Register.Mortise" value="UgsMacros.Macros.Mortise" />
    <add key="Register.Dovetails" value="UgsMacros.Macros.Dovetails" />
  </appSettings>
</configuration>